* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Signika Negative';
    margin: 0;
}

pre {
    line-height: 1.5;
    white-space: pre-wrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 12px 0;
}

a {
    text-decoration: none;
}