.bottom-ui {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.filters__container {
	position: absolute;
}

.filters__container--left {
	@extend .filters__container;
	left: 0;
}

.filters__container--right {
	@extend .filters__container;
	right: 0;
}

.filters__progress {
	background-color: #f0f0f0;
	border-top-left-radius: 112px;
    border-top-right-radius: 112px;
	bottom: 0;
	height: 112px;
	position: absolute;
	width: 224px;
}

.filters__progress--left {
	@extend .filters__progress;
	left: -82px;
}

.filters__progress--right {
	@extend .filters__progress;
	right: -82px;
}

.filters__filter {
	align-items: center;
	background-color: #f0f0f0;
	color: rgba(0, 0, 0, .125);
	border-radius: 20px;
	display: flex;
	height: 40px;
	justify-content: center;
	position: absolute;
	text-transform: capitalize;
	width: 40px;
}

.filters__filter--active {
	color: rgba(0, 0, 0, 0.625);
}

.filters__filter--left {
	@extend .filters__filter;

	&:nth-child(1) {
		bottom: 120px;
		left: 10px;
	}

	&:nth-child(2) {
		bottom: 112px;
		left: 58px;
	}

	&:nth-child(3) {
		bottom: 88px;
		left: 100px;
	}

	&:nth-child(4) {
		bottom: 50px;
		left: 132px;
	}
}

.filters__filter--right {
	@extend .filters__filter;

	&:nth-child(1) {
		bottom: 50px;
		right: 132px;
	}

	&:nth-child(2) {
		bottom: 88px;
		right: 100px;
	}

	&:nth-child(3) {
		bottom: 112px;
		right: 58px;
	}

	&:nth-child(4) {
		bottom: 120px;
		right: 10px;
	}
}