.menu {
	height: 300px;
	width: 200px;
}

.menu__window {
	margin: auto;
	width: 160px;
}

.menu__button {
	background-color: #e0e0e0;
	display: block;
	margin-bottom: 8px;
	padding: 8px;
	text-align: center;
	width: 100%;
}