.time-scale {
	bottom: 40px;
    display: flex;
    left: 0;
	position: absolute;
	//transition: height 320ms;

	// hide halves
	&.hide-half .time-scale__marker:nth-child(4n+3) {
		display: none;
	}

	// hide quarters
	&.hide-quarter .time-scale__marker:nth-child(2n+2) {
		display: none;
	}
}

.time-scale__marker {
	flex: 1 1 0;
	padding-left: 4px;
	padding-top: 4px;

	//whole
	&:nth-child(4n+1) {
	    border-left: 2px solid rgba(0, 0, 0, .375);
	    color: rgba(0, 0, 0, .5);
		font-size: 14px;
		font-weight: 600;
		width: 48px;
	}

	//half
	&:nth-child(4n+3) { 
	    border-left: 1px solid rgba(0, 0, 0, .25);
	    color: rgba(0, 0, 0, .375);
		font-size: 10px;
		width: 40px;
	}

	//quarter
	&:nth-child(2n+2) {
	    border-left: 1px solid rgba(0, 0, 0, .125);
	    color: rgba(0, 0, 0, .25);
		font-size: 10px;
		width: 32px;
	}

	//don't show the last one because it's height takes the scale past the end date by 50 years
	//we want to go up to the end date but not inclued it, which adds another marker of 50 years
	&:nth-last-child(1) {
		display: none;
	}
}