.view {
	//backface-visibility: hidden;
	transition: opacity 160ms;
	//transform: translate3d(0, 0, 0);

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave {
		opacity: 1;
	}

	&.ng-leave-active {
		opacity: 0;
	}
}

.view__modal {
	background-color: #fff;
	bottom: 0;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .125);
	//display: flex;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.view__fullscreen {
	bottom: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.view__header {
	background-color: #a0a0a0;
	color: #fff;
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	padding: 2px 0;
	position: relative;
	width: 100%;
}

.view__content {
	background-color: rgba(255, 255, 255, .875);
	display: flex;
	flex: 1 1 auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

.view__content--vertical {
	@extend .view__content;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}

.view__content--horizontal {
	@extend .view__content;
	overflow-x: scroll;
	overflow-y: hidden;
}

.view__heading {
	font-size: 24px;
	font-weight: 300;
	margin: 16px 16px 24px 16px;
}

.view__loading {
	align-items: center;
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
}

.view__animate-load {
	position: relative;
	//transition: opacity 640ms;

	&.ng-hide-remove {
		opacity: 0;
	}

	&.ng-hide-remove-active {
		opacity: 1;
	}

	&.ng-hide-add {
		opacity: 1;
	}

	&.ng-hide-add-active {
		opacity: 0;
	}	
}