.people {
	left: 64px;
	position: absolute;
	right: 16px;
	top: 100px;
	//transition: height 320ms;
}

.person {
	align-items: center;
	display: flex;
	position: absolute;

	&.ng-enter {
		opacity: 0;
		transition: transform 640ms, opacity 640ms;
		transform: translate3d(0, 16px, 0);
	}

	&.ng-enter-stagger {
		transition-delay: 8ms;
		transition-duration: 0ms;
	}

	&.ng-enter-active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	&.ng-leave {
		opacity: 1;
		transition: transform 160ms, opacity 160ms;
		transform: translate3d(0, 0, 0);
	}

	&.ng-leave-stagger {
		transition-delay: 4ms;
		transition-duration: 0ms;
	}

	&.ng-leave-active {
		opacity: 0;
		transform: translate3d(0, 8px, 0);
	}
}

.person--md {
	@extend .person;
	margin-top: -19px;
}

.person--lg {
	@extend .person;
	cursor: pointer;
	margin-top: -19px;
	//z-index: 1;
}

.person__avatar {
	align-items: center;
	background-color: #f0f0f0;
	border: 1px solid #a0a0a0;
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
}

.person__avatar--md {
	@extend .person__avatar;
	border-radius: 3.5px;
	height: 7px;
	width: 7px;
}

.person__avatar--lg {
	@extend .person__avatar;
	border-radius: 5.5px;
	height: 11px;
	width: 11px;
}

.person__avatar-animation {
	animation: spin 8000ms infinite linear;
    border: 2px dotted #989898;
	border-radius: 12.5px;
	flex: 0 0 auto;
	height: 25px;
	width: 25px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
}

.person__meta {
	margin-top: -2px;
	overflow: hidden;
}

.person__name {
	line-height: 26px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.person__name--md {
	@extend .person__name;
	font-size: 18px;
	font-weight: 300;
	height: 26px;
	padding: 0 4px 0 8px;
}

.person__name--lg {
	@extend .person__name;
	font-size: 24px;
	font-weight: 400;
	height: 26px;
	padding: 0 4px 0 12px;
}

// .person__birth-year {
// 	display: none;

// 	@media (min-width: 600px) {
// 		display: inline;
// 	}
// }

.person__professions {
	border-top: 1px solid #a0a0a0;
	font-weight: 300;
	height: 20px;
	margin-top: -4px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
}

.person__professions--md {
	@extend .person__professions;
	font-size: 12px;
	padding: 2px 4px 0 8px;
}

.person__professions--lg {
	@extend .person__professions;
	font-size: 14px;
	padding: 2px 4px 0 12px;
}

.person__profession {
	&:after {
		content: ", ";
	}

	&:nth-last-child(1):after {
		content: "";
	}
}