.header__title {
	align-items: center;
    display: flex;
    flex: 1 1 0;
}

.header__close {
	align-items: center;
	color: #fff;
    display: flex;
    font-size: 14px;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;

	&:hover {
		background-color: rgba(255, 255, 255, .25);
	}
}

.header__nav {
	display: flex;
	margin: 0 -16px;
}

.header__link {
	align-items: center;
	border-bottom: 4px solid transparent;
	color: #fff;
	display: flex;
	padding: 4px 16px 0 16px;
	text-decoration: none;

	&:hover {
		background-color: rgba(255, 255, 255, .25);
	}
}

.header__link--active {
	border-bottom-color: #707070;
}