.menu__button {
	background-color: #f8f8f8;
	border: 1px solid #b8b8b8;
	border-radius: 4px;
	display: block;
	margin-bottom: 8px;
	padding: 8px;
	text-align: center;
	width: 100%;
}

.menu__meta-info {
	font-size: 12px;
	margin-bottom: 20px;
}