.person-detail--md {
	height: 400px;
	width: 256px;
}

.person-detail--md__title {
	flex: 0 0 auto;
	font-size: 22px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 2px;
	text-align: center;
}

.person-detail--md__date {
	color: rgba(0, 0, 0, .375);
	flex: 0 0 auto;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}

.person-detail--md__date--light {
	color: rgba(0, 0, 0, 0.25);
	font-size: 11px;
	font-weight: 400;
}

.person-detail--md__location {
	color: rgba(0, 0, 0, .375);
	flex: 0 0 auto;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 16px;
	text-align: center;
}

.person-detail--md__excerpt {
	margin-bottom: 16px;
}

.person-detail--md__trivia {
    color: rgba(0, 0, 0, .5);
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 16px;
}

.person-detail--md__professions {
	margin-bottom: 20px;
}

.person-detail--md__profession {
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	display: inline-block;
	font-size: 10px;
	line-height: 2;
	margin: 1px;
	padding: 0px 6px;
}