<div class="timeline-data__scale">
    <sciti-timeline-scale
        *ngFor="let marker of timelineScale"
        [style.transform]="'translate3d(0, ' + marker.offsetTop + 'px, 0)'"
        [period]="marker.period">
    </sciti-timeline-scale>
</div>
<div class="timeline-data__luminaries">
    <div class="timeline-data__luminaries-inner">
        <sciti-timeline-card
            *ngFor="let luminary of luminaries"
            [ngClass]="{'timeline-card': !luminary.isHero, 'timeline-card--hero': luminary.isHero}"
            [style.transform]="'translate3d(0, ' + luminary.offsetTop + 'px, 0)'"
            [style.left]="luminary.offsetLeft + '%'"
            [luminary]="luminary">
        </sciti-timeline-card>
    </div>
</div>