<p>timeline works!</p>

<ul>
  <li class="flex flex-center-center">
    <a class="button" [routerLink]="['/']">root</a>
  </li>

  <li class="flex flex-center-center">
    <a class="button" [routerLink]="['/time-machine']">time machine</a>
  </li>
  <li class="flex flex-center-center">
    <a class="button" [routerLink]="['/time-machine/child']">child</a>
  </li>

  <li class="flex flex-center-center">
    <a class="button" [routerLink]="['/timeline']">timeline</a>
  </li>
  <li class="flex flex-center-center">
    <a class="button" [routerLink]="['/timeline/luminary']">luminary</a>
  </li>
</ul>

<sciti-ui-user></sciti-ui-user>
<sciti-ui-timeline></sciti-ui-timeline>

<router-outlet></router-outlet>