@import "../../styles/_colors.scss";

$base-height: 9px;
$base-width: 30px;

:host {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.08);
    position: absolute;
    transition: transform 320ms ease-in-out;
}

:host.timeline-card {
    width: $base-width * 3;
}

:host.timeline-card--hero {
    width: $base-width * 4;
    z-index: 1;
}

.timeline-card__link {
    cursor: pointer;
    display: block;
}

.timeline-card__header {
    font-size: 10px;
    font-weight: 300;
    padding: 0 6px;
    text-transform: capitalize;
    white-space: nowrap;
}

.timeline-card__header--normal {
    @extend .timeline-card__header;
    color: $neutral;
    height: $base-height * 2;
}

.timeline-card__header--hero {
    @extend .timeline-card__header;
    color: $secondary;
    height: $base-height * 2;
}

.timeline-card__name {
    background-color: $neutral-lighter;
    color: $primary;
    height: $base-height * 3;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timeline-card__name--hero {
    background: linear-gradient(-13deg, $primary 0%, $secondary 100%);
    color: #fff;
    height: $base-height * 5;
    font-size: 22px;
    font-weight: 600;
    padding: 9px 6px;
}

.timeline-card__profession {
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timeline-card__status {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    height: 8px;
    width: 8px;
}

.timeline-card__status--new {
    @extend .timeline-card__status;
    background-color: #fff;
    border-color: $neutral;
}

.timeline-card__status--read {
    @extend .timeline-card__status;
    background-color: $neutral;
    border-color: #fff;
}