<div class="view__fullscreen">
    <div class="view__content--horizontal dragscroll" id="js-home">
        <div class="view__animate-load" ng-show="isLoaded">
<!-- era bg -->
            <ul id="js-eras" class="eras">
                <li ng-repeat="era in ::eras"
                    id="js-era-{{::era.name}}"
                    class="era"
                    style="width: {{::getWidthPercent(era.startDate, era.endDate)}}%;">
                    <h2 class="era__name">{{::era.name}}</h2>
                </li>
            </ul>

            <nav id="js-events" class="events">
<!-- eras -->
                <a ng-repeat="era in ::eras"
                    class="era__link"
                    style="left: {{::getLeft(era.startDate)}}%"
                    ui-sref="home.era(::{eraURL: era.url})">
                    <div class="era__banner">
                        <div class="era__banner-animation"></div>
                        <div class="era__banner-tail--left"></div>
                        <div class="era__banner-tail--right"></div>
                    </div>
                </a>
<!-- people -->
                <a ng-repeat-start="person in people | filter:filterPeople track by person.url"
                    ng-if="::!person.isHero"
                    class="person--md--{{::getEra(person.birthDate)}}"
                    style="left: {{::getLeft(person.birthDate, person.deathDate)}}%; top: {{::person.offset}}%;}}%"
                    ui-sref="home.person(::{personURL: person.url})">
                    <div class="person__content">
                        <div class="person__name--md">{{::person.displayName || person.name}}</div>
                        <div class="person__meta">
                            <span class="person__profession">{{::person.professions[0]}}</span>
                        </div>
                    </div>
                </a>
                <a ng-repeat-end
                    ng-if="::person.isHero"
                    class="person--lg"
                    style="left: {{::getLeft(person.birthDate, person.deathDate)}}%; top: {{::person.offset}}%;}}%"
                    ui-sref="home.person(::{personURL: person.url})">
                    <div class="person__avatar-animation"></div>
                    <div class="person__content">
                        <div class="person__name--lg">{{::person.displayName || person.name}}</div>
                        <div class="person__meta--lg">
                            <span class="person__birth-year">{{::person.birthDate | getYear}}, </span>
                            <span class="person__profession">{{::person.professions[0]}}</span>
                        </div>
                    </div>
                </a>
<!-- events -->
                <a ng-repeat-start="event in events | filter:filterEvents track by event.url"
                    ng-if="::!event.isHero"
                    class="event--md"
                    style="left: {{::getLeft(event.startDate)}}%;">
                    <div class="event__avatar"></div>
                    <div class="event__meta">
                        <div class="event__name">{{::event.name}}, {{::event.startDate | getYear}}</div>
                    </div>
                </a>
                <a ng-repeat-end
                    ng-if="::event.isHero"
                    class="event--md"
                    style="left: {{::getLeft(event.startDate)}}%;"
                    ui-sref="home.event(::{eventURL: event.url})">
                    <div class="event__avatar">
                        <div class="event__avatar-animation"></div>
                    </div>
                    <div class="event__meta">
                        <div class="event__name">{{::event.name}}, {{::event.startDate | getYear}}</div>
                    </div>
                </a>
            </nav>
<!-- time scale -->
            <div id="js-time-scale"
                class="time-scale"
                ng-class="{'hide-quarter': pixelsPerYear <= .75, 'hide-half': pixelsPerYear <= .25}">
            </div>
        </div>
    </div>
<!-- zoom controls -->
    <menu class="zoom-controls" ng-show="isLoaded">
        <button class="zoom-controls__button" ng-click="zoom(+.5)" ng-disabled="pixelsPerYear >= 32">
            <span class="typcn typcn-zoom-in-outline"></span>
        </button>
        <button class="zoom-controls__button" ng-click="zoom(-.5)" ng-disabled="pixelsPerYear <= 2">
            <span class="typcn typcn-zoom-out-outline"></span>
        </button>
        <button class="zoom-controls__button" ng-click="setZoom(4)">
            <span class="typcn typcn-zoom-outline"></span>
        </button>
        <a ui-sref="home.menu" class="zoom-controls__button">
            <span class="typcn typcn-cog-outline"></span>
        </a>
    </menu>
<!-- bottom ui -->
    <aside id="js-bottom-ui" class="bottom-ui">
        <div class="exp-bar">
            <div class="exp-bar__pulse" ng-show="showExpAnimation"></div>
            <div id="js-exp" class="exp-bar__progress"></div>
        </div>

        <nav class="era-nav view__animate-load" ng-show="isLoaded">
            <a ng-repeat="era in ::eras"
                class="era-nav__link"
                ng-click="scrollToEra(era.name)">
                <span class="era-nav__era-initial">{{::era.name.charAt(0)}}</span>
                <span class="era-nav__era-name" ng-hide="true">{{::era.name}}</span>
            </a>
        <!--
            <a class="era-nav__link">A</a>
            <a class="era-nav__link">S</a>
            <a class="era-nav__link">D</a>
         -->
        </nav>

        <menu class="filters__container--left">
            <button ng-repeat="filter in ::peopleFilters"
                    ng-click="toggleFilter(filter)"
                    class="filters__filter--left"
                    title="{{::filter.name}}"
                    ng-class="{'filters__filter--active': filter.active}">
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'life'"><use xlink:href="img/icon-sprite.svg#icon-dna"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'life'">1</span>
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'logical'"><use xlink:href="img/icon-sprite.svg#icon-venn"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'logical'">2</span>
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'physical'"><use xlink:href="img/icon-sprite.svg#icon-atom"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'physical'">3</span>
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'applied'"><use xlink:href="img/icon-sprite.svg#icon-compass"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'applied'">4</span>
            </button>
            <div class="filters__progress--left"></div>
        </menu>

        <menu class="filters__container--right">
            <button ng-repeat="filter in ::eventFilters"
                    ng-click="toggleFilter(filter)"
                    class="filters__filter--right"
                    ng-class="{'filters__filter--active': filter.active}">
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'life'"><use xlink:href="img/icon-sprite.svg#icon-dna"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'life'">6</span>
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'logical'"><use xlink:href="img/icon-sprite.svg#icon-venn"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'logical'">7</span>
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'physical'"><use xlink:href="img/icon-sprite.svg#icon-atom"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'physical'">8</span>
                    <svg class="filters__icon icon-20" ng-if="::filter.name == 'applied'"><use xlink:href="img/icon-sprite.svg#icon-compass"></use></svg>
                    <span class="filters__hotkey" ng-if="::filter.name == 'applied'">9</span>
            </button>
            <div class="filters__progress--right"></div>
        </menu>
    </aside>
</div>

<div class="exp-animation" ng-show="showExpAnimation"></div>

<ui-view class="view view--child"></ui-view>