<div class="view__fullscreen">
	<header class="timeline__header" ng-show="isLoaded">
		<button class="zoom-controls__button" ng-click="zoom(+.5)" ng-disabled="pixelsPerYear >= 32">
			<span class="typcn typcn-zoom-in-outline"></span>
		</button>
		<button class="zoom-controls__button" ng-click="zoom(-.5)" ng-disabled="pixelsPerYear <= 2">
			<span class="typcn typcn-zoom-out-outline"></span>
		</button>
		<button class="zoom-controls__button" ng-click="setZoom(4)">
			<span class="typcn typcn-zoom-outline"></span>
		</button>
		<a class="zoom-controls__button" ui-sref="home.menu" class="header__link" ui-sref-active="header__link--active">
			<span class="typcn typcn-cog-outline"></span>
		</a>
	</header>

	<div class="view__content--horizontal dragscroll" id="js-home">
		<div class="view__animate-load" ng-show="isLoaded">
<!-- era bg -->
			<ul id="js-eras" class="eras">
				<li ng-repeat="era in ::eras"
					id="js-era-{{::era.name}}"
					class="era"
					style="width: {{::getWidthPercent(era.startDate, era.endDate)}}%;">
					<h2 class="era__name">{{::era.name}}</h2>
				</li>
			</ul>

			<ul id="js-events" class="events">
<!-- eras -->
				<li ng-repeat="era in ::eras"
					class="era__link"
					style="left: {{::getLeft(era.startDate)}}%"
					ui-sref="home.era(::{eraURL: era.url})">
					<div class="era__banner">
						<div class="era__banner-animation"></div>
						<div class="era__banner-tail--left"></div>
						<div class="era__banner-tail--right"></div>
					</div>
				</li>
<!-- people -->
				<li ng-repeat-start="person in people | filter:filterPeople track by person.url"
					ng-if="::!person.isHero"
					class="person--md"
					style="left: {{::getLeft(person.birthDate, person.deathDate)}}%; top: {{::person.offset}}%;}}%"
					ui-sref="home.person(::{personURL: person.url})">
					<div class="person__avatar--md">
					</div>
					<div class="person__meta">
						<div class="person__name--md">{{::person.displayName || person.name}}</div>
						<div class="person__professions--md">
							<span class="person__birth-year">{{::person.birthDate | getYear}}, </span>
							<span class="person__profession">{{::person.professions[0]}}</span>
						</div>
					</div>
				</li>
				<li ng-repeat-end
					ng-if="::person.isHero"
					class="person--lg"
					style="left: {{::getLeft(person.birthDate, person.deathDate)}}%; top: {{::person.offset}}%;}}%"
					ui-sref="home.personHero(::{personURL: person.url})">
					<div class="person__avatar--lg">
						<div class="person__avatar-animation"></div>
					</div>
					<div class="person__meta">
						<div class="person__name--lg">{{::person.displayName || person.name}}</div>
						<div class="person__professions--lg">
							<span class="person__birth-year">{{::person.birthDate | getYear}}, </span>
							<span class="person__profession">{{::person.professions[0]}}</span>
						</div>
					</div>
				</li>
<!-- events -->
				<li ng-repeat-start="event in events | filter:filterEvents track by event.url"
					ng-if="::!event.isHero"
					class="event--md"
					style="left: {{::getLeft(event.startDate)}}%;">
					<div class="event__avatar"></div>
					<div class="event__meta">
						<div class="event__name">{{::event.name}}, {{::event.startDate | getYear}}</div>
					</div>
				</li>
				<li ng-repeat-end
					ng-if="::event.isHero"
					class="event--md"
					style="left: {{::getLeft(event.startDate)}}%;"
					ui-sref="home.event(::{eventURL: event.url})">
					<div class="event__avatar">
						<div class="event__avatar-animation"></div>
					</div>
					<div class="event__meta">
						<div class="event__name">{{::event.name}}, {{::event.startDate | getYear}}</div>
					</div>
				</li>
			</ul>
<!-- time scale -->
			<ol id="js-time-scale" class="time-scale"
				ng-class="{'hide-quarter': pixelsPerYear <= .75, 'hide-half': pixelsPerYear <= .25}">
			</ol>
		</div>
	</div>

	<aside id="js-bottom-ui" class="bottom-ui">
		<nav class="era-nav view__animate-load" ng-show="isLoaded">
			<a ng-repeat="era in ::eras"
				class="era-nav__link"
				ng-click="scrollToEra(era.name)">
				<span class="era-nav__era-initial">{{::era.name.charAt(0)}}</span>
				<span class="era-nav__era-name" ng-hide="true">{{::era.name}}</span>
			</a>
			<a class="era-nav__link">A</a>
			<a class="era-nav__link">S</a>
			<a class="era-nav__link">D</a>
		</nav>

		<div class="filters__container--left">
			<button class="filters__filter--left"
					ng-repeat="filter in ::peopleFilters"
					ng-click="toggleFilter(filter)"
					ng-class="{'filters__filter--active': filter.active}">
					<span class="typcn typcn-leaf" ng-if="::filter.name == 'life'"></span>
					<span class="typcn typcn-pi-outline" ng-if="::filter.name == 'logical'"></span>
					<span class="typcn typcn-beaker" ng-if="::filter.name == 'physical'"></span>
					<span class="typcn typcn-spanner-outline" ng-if="::filter.name == 'applied'"></span>
			</button>
			<div class="filters__progress--left"></div>
		</div>

		<div class="filters__container--right">
			<button class="filters__filter--right"
					ng-repeat="filter in ::eventFilters"
					ng-click="toggleFilter(filter)"
					ng-class="{'filters__filter--active': filter.active}">
					<span class="typcn typcn-leaf" ng-if="::filter.name == 'life'"></span>
					<span class="typcn typcn-pi-outline" ng-if="::filter.name == 'logical'"></span>
					<span class="typcn typcn-beaker" ng-if="::filter.name == 'physical'"></span>
					<span class="typcn typcn-spanner-outline" ng-if="::filter.name == 'applied'"></span>
			</button>
			<div class="filters__progress--right"></div>
		</div>
	</aside>
</div>

<ui-view class="view view--child"></ui-view>