<div class="modal__overlay--opaque" ui-sref="home">
	<article class="modal__window person-detail--md" ng-click="$event.stopPropagation();">
		<header class="modal__header">
			<div class="modal__icon">
				<svg class="filters__icon" ng-if="::person.branch == 'life'"><use xlink:href="img/icon-sprite.svg#icon-dna"></use></svg>
				<svg class="filters__icon" ng-if="::person.branch == 'logical'"><use xlink:href="img/icon-sprite.svg#icon-gate"></use></svg>
				<svg class="filters__icon" ng-if="::person.branch == 'physical'"><use xlink:href="img/icon-sprite.svg#icon-atom"></use></svg>
				<svg class="filters__icon" ng-if="::person.branch == 'applied'"><use xlink:href="img/icon-sprite.svg#icon-compass"></use></svg>
			</div>
			<p class="modal__title">Luminary</p>
			<a ui-sref="^" class="modal__button-close">
				<span class="typcn typcn-times-outline"></span>
			</a>
		</header>
		<div class="modal__scrollable">
			<h1 class="person-detail--md__title">
				{{::person.name}}
			</h1>
			<div class="person-detail--md__location">
				{{::person.location}}
			</div>
			<div class="person-detail--md__date-layout">
				<div class="person-detail--md__date-layout--left">
					<p class="person-detail--md__date">
						<span class="person-detail--md__date--light" ng-if="::person.birthDate.length < 8">c.</span>
						{{::person.birthDate | getDate}}
						<span class="person-detail--md__date--light" ng-if="::person.birthDate < 0">BCE</span>
					</p>
					<p class="person-detail--md__date">
						<span class="person-detail--md__date--light" ng-if="::person.deathDate.length < 8">c.</span>
						{{::person.deathDate | getDate}}
						<span class="person-detail--md__date--light" ng-if="::person.deathDate < 0">BCE</span>
					</p>
				</div>
				<div class="person-detail--md__date-layout--right">
					<p class="person-detail--md__date">
						{{::person.ago}} 
						<span class="person-detail--md__date--light">years ago</span>
					</p>
					<p class="person-detail--md__date">
						{{::person.age}}
						<span class="person-detail--md__date--light">years old</span>
					</p>
				</div>
			</div>
			<ul class="person-detail--md__professions">
				<li class="person-detail--md__profession">{{::person.branch}} sciences</li><li class="person-detail--md__profession" ng-repeat="profession in person.professions">{{::profession}}</li>
			</ul>
			<p class="person-detail--md__excerpt">
				{{::person.excerpt}}
			</p>
			<p class="person-detail--md__trivia">
				{{::person.trivia}}
			</p>
		</div>
	</article>
</div>