<div class="view__fullscreen">
	<header class="view__header" ng-show="isLoaded">
		<button class="zoom-controls__button" ng-click="zoom(+.5)" ng-disabled="pixelsPerYear >= 32">+</button>
		<button class="zoom-controls__button" ng-click="setZoom(4)">1x</button>
		<button class="zoom-controls__button" ng-click="zoom(-.5)" ng-disabled="pixelsPerYear <= 2">-</button>
		<a class="zoom-controls__button" ui-sref="home.menu" class="header__link" ui-sref-active="header__link--active">S</a>
	</header>

	<div class="view__content--horizontal dragscroll" id="js-home">
		<div class="view__animate-load" ng-show="isLoaded">
			<ul id="js-eras" class="eras">
				<li ng-repeat="era in ::eras"
					id="js-era-{{::era.name}}"
					class="era"
					style="width: {{::getWidthPercent(era.startDate, era.endDate)}}%;">
					<h2 class="era__name">{{::era.name}}</h2>
				</li>
			</ul>

			<ul id="js-events" class="events">
				<li ng-repeat="era in ::eras"
					class="era__link"
					style="left: {{::getLeft(era.startDate)}}%"
					ui-sref="home.era(::{eraURL: era.url})">
					<div class="era__banner">
						<div class="era__banner-animation"></div>
						<div class="era__banner-tail--left"></div>
						<div class="era__banner-tail--right"></div>
					</div>
				</li>

				<li ng-repeat="person in people | filter:filterByBranch track by person.url"
					ng-class="::{'person--md': !person.isHero, 'person--lg': person.isHero}"
					style="left: {{::getLeft(person.birthDate, person.deathDate)}}%; top: {{::person.offset}}%;}}%"
					ui-sref="home.person(::{personURL: person.url})">
					<div ng-class="::{'person__avatar--md': !person.isHero, 'person__avatar--lg': person.isHero}">
						<div class="person__avatar-animation" ng-show="::person.isHero"></div>
					</div>
					<div class="person__meta">
						<div ng-class="::{'person__name--md': !person.isHero, 'person__name--lg': person.isHero}">{{::person.displayName || person.name}}</div>
						<div ng-class="::{'person__professions--md': !person.isHero, 'person__professions--lg': person.isHero}">
							<span class="person__birth-year">{{::person.birthDate | getYear}}, </span>
							<span class="person__profession">{{::person.professions[0]}}</span>
						</div>
					</div>
				</li>

				<li ng-repeat-start="event in ::events track by event.url"
					ng-if="::!event.isHero"
					class="event--md"
					style="left: {{::getLeft(event.startDate)}}%;">
					<div class="event__avatar"></div>
					<div class="event__meta">
						<div class="event__name">{{::event.name}}, {{::event.startDate | getYear}}</div>
					</div>
				</li>
				<li ng-repeat-end
					ng-if="::event.isHero"
					class="event--md"
					style="left: {{::getLeft(event.startDate)}}%;"
					ui-sref="home.event(::{eventURL: event.url})">
					<div class="event__avatar">
						<div class="event__avatar-animation"></div>
					</div>
					<div class="event__meta">
						<div class="event__name">{{::event.name}}, {{::event.startDate | getYear}}</div>
					</div>
				</li>
			</ul>

			<ol id="js-time-scale" class="time-scale"
				ng-class="{'hide-quarter': pixelsPerYear <= .75, 'hide-half': pixelsPerYear <= .25}">
			</ol>
		</div>
	</div>

	<aside id="js-bottom-ui" class="bottom-ui">
		<nav class="era-nav view__animate-load" ng-show="isLoaded">
			<a ng-repeat="era in ::eras"
				class="era-nav__link"
				ng-click="scrollToEra(era.name)">
				<span class="era-nav__era-initial">{{::era.name.charAt(0)}}</span>
				<span class="era-nav__era-name" ng-hide="true">{{::era.name}}</span>
			</a>
			<a class="era-nav__link">A</a>
			<a class="era-nav__link">S</a>
			<a class="era-nav__link">D</a>
		</nav>

		<div class="filters__container--left">
			<div class="filters__filter--left" ng-repeat="event in ::eventFilters">
				<input type="checkbox" ng-model="event.active"></input>
			</div>
			<div class="filters__progress--left"></div>
		</div>

		<div class="filters__container--right">
			<div class="filters__filter--right" ng-repeat="event in ::eventFilters">
				<input type="checkbox" ng-model="event.active"></input>
			</div>
			<div class="filters__progress--right"></div>
		</div>
	</aside>
</div>

<ui-view class="view"></ui-view>