<div class="modal__overlay--opaque" ui-sref="^">
	<article class="modal__window person-detail--md" ng-click="$event.stopPropagation();">
		<header class="modal__header">
			<div class="modal__icon">
				<span class="typcn typcn-leaf" ng-if="::person.branch == 'life'"></span>
				<span class="typcn typcn-pi-outline" ng-if="::person.branch == 'logical'"></span>
				<span class="typcn typcn-beaker" ng-if="::person.branch == 'physical'"></span>
				<span class="typcn typcn-spanner-outline" ng-if="::person.branch == 'applied'"></span>
			</div>
			<p class="modal__title">Luminary</p>
			<a ui-sref="^" class="modal__button-close">
				<span class="typcn typcn-times-outline"></span>
			</a>
		</header>
		<div class="modal__scrollable">
			<h1 class="person-detail--md__title">{{::person.name}}</h1>
			<div class="person-detail--md__date">
				{{::person.birthDate | getDate}}
				<span class="person-detail--md__date--light" ng-if="::person.birthDate < 0">BCE</span>
				<span class="person-detail--md__date--light">-</span>
				{{::person.deathDate | getDate}}
				<span class="person-detail--md__date--light" ng-if="::person.birthDate < 0">BCE</span>
				<span class="person-detail--md__date--light">({{::person.age}})</span>
			</div>
			<div class="person-detail--md__location">{{::person.location}}</div>
			<div class="modal__span-height">
				<div>
					<p class="person-detail--md__excerpt">
						{{::person.excerpt}}
					</p>
					<p class="person-detail--md__trivia">
						{{::person.trivia}}
					</p>
				</div>
				<ul class="person-detail--md__professions">
					<li class="person-detail--md__profession" ng-repeat="profession in person.professions">{{::profession}}</li>
				</ul>
			</div>
		</div>
	</article>
</div>