<div class="modal__overlay" ui-sref="^">
	<article class="person-detail--md modal" ng-click="$event.stopPropagation();">
		<header class="modal__header">
			<div class="modal__icon">{{::person.branch.substring(0, 2)}}</div>
			<p class="modal__title">Person</p>
			<a ui-sref="^" class="modal__button-close">
				<span class="icon-close"></span>
			</a>
		</header>
		<div class="modal__scrollable">
			<h1 class="person-detail--md__title">{{::person.name}}</h1>
			<div class="person-detail--md__date">
				<span class="person-detail--md__birth-year">{{::person.birthDate | getYear}}</span>
				to
				<span class="person-detail--md__birth-year">{{::person.deathDate | getYear}}</span>
			</div>
			<div class="person-detail--md__location">{{::person.location}}</div>
			<div class="person-detail--md__span-height">
				<div>
					<p class="person-detail--md__excerpt">
						{{::person.excerpt}}
					</p>
					<p class="person-detail--md__trivia">
						{{::person.trivia}}
					</p>
				</div>
				<ul class="person-detail--md__professions">
					<li class="person-detail--md__profession" ng-repeat="profession in person.professions">{{::profession}}</li>
				</ul>
			</div>
		</div>
	</article>
</div>