.exp-animation {
	background-color: orange;
	border: 2px solid #b8b8b8;
	bottom: 0;
	height: 168px;
	height: 420px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	left: 0;
	position: absolute;
	right: -168px;
	right: 0;
	top: -252px;
	top: 0;
	width: 112px;
	width: 280px;
	transition: all 480ms ease-in;
	transform-origin: 100% 0;

	&.ng-hide-remove {
		//opacity: 0;
	}

	&.ng-hide-remove-active {
		//opacity: 1;
	}

	&.ng-hide-add {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale3d(.8, .8, 1);
	}

	&.ng-hide-add-active {
		opacity: .5;
		transform: translate3d(-140px, 700px, 0) scale3d(0, 0, 1);
	}
}