@font-face {
	font-family: 'typicons';
	src: url("typicons.eot");
	src: url("typicons.eot?#iefix") format('embedded-opentype'),
		 url("typicons.woff") format('woff'),
		 url("typicons.ttf") format('truetype'),
		 url("typicons.svg#typicons") format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "variables";
@import "css-reset";

@import "icons";
@import "typography";
@import "view";
@import "header";
@import "filters";

@import "timeline";
@import "time-scale";
@import "people";
@import "person-detail--md";
@import "events";
@import "detail";
@import "zoom-controls";
@import "era-nav";
@import "eras"; 
@import "introduction";

@import "modal";
@import "menu";

@import "animate";

html {
	height: 100%;
}

body {
	color: rgba(0, 0, 0, .625);
	font-family: 'Signika Negative', sans-serif;
	height: 100%;
	line-height: 1.25;
	margin: 0;
	overflow: hidden;
}

.content__placeholder {
	background-color: #f0f0f0;
	height: 200px;
	margin-bottom: 8px;
	padding: 16px;
}